<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoadRows" value="10000"/>
        <add key="AutoFindRows" value="100"/>
        <add key="RegexTimeoutMilliseconds" value="250"/>
        <add key="MaxCommandHistoryItems" value="50"/>
        <add key="CaseInsensitiveSearch" value="true"/>
        <add key="RegexSearch" value="true"/>
        <add key="ShowCommandExamples" value="true"/>
        <add key="CreateColumnHeaders" value="true"/>
        <add key="CreateRowNumbers" value="true"/>
        <add key="CsvFilePatterns" value="*.csv;*.gz"/>
    </appSettings>
</configuration>